.pokemon__stat-barGray {
  margin-top: 10px;
  background-color: #F7F7F7;
  height: 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pokemon__stat-barProgress {

  background: linear-gradient(90deg, #fcbd76 -2.25%, #e6351e 133.18%);
  height: 25px;
  width: 50%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.art {
  margin-top: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pokemon__art {

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 900px;
  height: 180px;
  background: linear-gradient(178.92deg, #7EC6C5 0.92%, #ABDAC6 47.96%, #CAE099 99.08%);
  border-radius: 4px 4px 0px 0px;
  box-shadow: 1px 1px 18px rgb(132, 132, 132);
}

.pokemon__img {
  position: absolute;
  bottom: 20px;
  width: 341px;
  height: 314px;

}

.all__Charac {
  margin-top: 40px;
  background-color: #dafc8a2d;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  position: relative;
  width: 900px;
  height: 1150px;
  box-shadow: 1px 1px 18px rgb(132, 132, 132);
  
}

.number {
  text-align: center;
  font-weight: 500;
  color: #416460;
  font-weight: bolder;
  font: small-caps 100%/200% serif;
  font-size: xx-large;
}

.weight {
  color: #0F0F2D;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 17px;
  
}

.weight__data {
  font-size: 20px;
  text-align: center;
}

.height {
  color: #0F0F2D;
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 17px;
}

.height__data {
  font-size: 20px;
  text-align: center;
  font: small-caps 100%/200% serif;
  font-weight: bolder;
}

.namePok {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 20px;
  color: #416460;
  font: small-caps 100%/200% serif;
  font-weight: bolder;
  font-size: xxx-large;

}

.characters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 56px;
  font: small-caps 100%/200% serif;
}

.typesOf {
  margin-top: 27px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  
}

.typesOf__type {
  /* background-color: aqua; */
  display: flex;
  gap: 40px;
  font-size: 22px;
}

.type__text {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  color: #302F2F;
  font: small-caps 100%/200% serif;
  
}

.habilities__text {
  text-align: center;
  font-size: 30px;
  margin-bottom: 40px;
  color: #302F2F;
  font: small-caps 100%/200% serif;

}

.typesOf__habilities {
  display: flex;
  gap: 40px;
  font-size: 22px;
  font: small-caps 100%/200% serif;

}

.pokemon__stats {
  padding-top: 60px;
  width: 650px;
  font: small-caps 100%/200% serif;
  margin: 0 auto;
  padding-bottom: 50px;
  font-weight: bolder;
}

.pokemon__stats-title {

  font: small-caps 100%/200% serif;
  font-size: 35px;
  margin-bottom: 23px;

}

.pokemon__stat-header {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font: small-caps 100%/200% serif;
  font-weight: bolder;

}

.pokemon__stat-name {

  color: #302F2F;
  font-size: 22px;
  font: small-caps 100%/200% serif;
  font-weight: bolder;
  
}

.pokemon__stat-value {
  color: #302F2F;
  font-size: 18px;
  font: small-caps 100%/200% serif;
  font-weight: bolder;
}

.type__style {
  padding: 9px;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgb(158, 196, 193);
  font: small-caps 100%/200% serif;
  border-radius: 4px;
}

.habilities__style {
  padding: 9px;
  padding-left: 40px;
  padding-right: 40px;
  background: #FFFFFF;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font: small-caps 100%/200% serif;
}